@charset "utf-8";
/* CSS Document */
* {
	font-weight: 300;
	font-size: 18px;
}
h1{
	font-size: 2rem;
}
h2{
	font-size: 1.5rem;
}
h3{
	font-size: 1.3rem;
}
h4{
	font-size: 1.2rem;
}
h5{
	font-size: 1rem;
}
h6{
	font-size: 0.7rem;
}
p{
	font-size: 0.9rem;
}
body {
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	background: #F8EFE6;
	margin: 4vh 8vw;
	font-family: 'Raleway', sans-serif;
}
		/*Тень у обертки*/
.wrapper {
		box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
}
		/* header*/
header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
	height: 100vh;
	background: url(img/thomas-layland-340828-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
		/*Главный заголовок*/
header h1 {
	letter-spacing: 3px;
	margin: 5vh 0;
}
		/*menu*/
.menu { 
	width: 60%;
	height: 70px;
}
.ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	}
	
nav ul li {
	list-style: none;
	position: relative;
	transition: all 0.3s ease-out;
}
nav ul li a{
	text-decoration: none;
	color: black;
	white-space: nowrap;
	font-size: 1rem;
}
/*Иконка меню*/
#toggle {
	position: absolute;
	right: 20px;
	top: 14px;
	z-index: 999;
	width: 33px;
	height: 20px;
	cursor: pointer;
	float: right;
	transition: all 0.3s ease-out;
	visibility: hidden;
	opacity: 0;
}
#toggle .span {
	height: 1px;
	background: #353432;
	transition: all 0.3s ease-out;
	backface-visibility: hidden;
	margin: 7px auto;
	border: 1px solid #353432 ;
}
#toggle .on #one {
	transform: rotate(45deg) translateX(2px) translateY(4px);
}
#toggle .on #two{
	opacity: 0;
}
#toggle .on #three {
	transform: rotate(-45deg) translateX(8px) translateY(-10px);
}
#resize {
	z-index: 1;
	top: 0px;
	position: absolute;
    background: #F1F6F9;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-out;
	display: table;
}
#resize #menu {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin: 0;
    padding: 0;
}
#resize #menu li {
	padding: 20px 0;
	font-size: 1.5rem;
	min-height: 3rem;
	font-weight: 200;
	cursor: pointer;
	transition: all 0.3s ease-out;
	list-style: none;
}
#resize #menu li a {
	color:black;
	text-decoration: none;
}
#resize.active {
	visibility: visible;
	opacity: 0.99;
}
.headerBorder {
    border: 2px solid;
    padding: 20px 60px;
	letter-spacing: 3px;
	white-space: nowrap;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	margin: 0;
}

/*MAIN*/
main {
	height: 100%;
	width: 100%;
	background: white;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
	text-align: center;
}
.h2main {
	text-align: center;
    letter-spacing: 3px;
    padding-top: 8rem;
    margin: 0;
}
.mainphoto {

	text-align: center;
	margin: 7rem 7rem 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh;
    grid-gap: 10px;

}
.q1 {
	height: 60vh;
	}
.q2 {
	height: 40vh;
	}
.q3 {
	height: 60vh;
	}
.q4 {
	grid-column: 2/2;
    height: 30vh;
	}

.main2 {
	background: #F1F6F9;
	height: 80vh;
	padding: 100px;
	align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
	text-align: justify;
}
.main2 * {
	letter-spacing: 2px;
	line-height: 20px;
}
img {
	background-position: center;
	background-size: cover;
	display: block;
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}
.main3 {
	background: url(img/thomas-layland-340828-unsplash.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 65vh;
	position: relative;
}
.main4 {
	background: white;
	display: flex;
    height: 100vh;
    width: 100%;
    letter-spacing: 2px;
}
.main41{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.main4 h3 {
	margin: 0;
}
form {
	width: 100%;
}
.line {
	display: flex;
}
input {
	 width: 50%;
    border: 1px solid;
    padding: 10px;
	border-radius: 0;
}
.line .input {
	margin-left: 10px;
}
.Message {
    width: -webkit-fill-available;
    text-align: center;
    height: 20vh;
    margin: 10px 0;
    border: 1px solid black;
}
.btn {
	width: 100%;
    border: 1px solid;
    background-color: transparent;
    padding: 10px;
}
footer {
	width: 100%;
	height: 80vh;
	background:#F1F6F9;
	text-align: center;
}
.footer {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}
.container {
	width: 33vw;
	text-align: center;
	letter-spacing: 2px;
	white-space:nowrap;
}
.container h5 {
	white-space: nowrap;
}
.container input {
	width: 85%;
    border: 1px solid;
    padding: 10px;
	border-radius: 0;
}
.btn2 {
	background-color: white;
    border: 1px solid;
    margin-left: -5px;
	padding: 10px 15px;
}
.social {
	display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.social img {
	width: 30px;
	height: 30px;
	border: 1px solid black;
    padding: 6px;
	margin: 3px;

}
.email2 {
	display: flex;
}
.about {
	width: 33vw;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 5vw;
}
.about p {
	text-align: justify;
}
.typewriter {
width: 20vw;
white-space: nowrap;
letter-spacing: 2px;
}
.photo {
	width: 100%;
    height: 25vh;
}
.border {
	background:#F1F6F9;
	text-align: center;
	border-top: 1px solid black;
	height: 100%;
}
.footer2 {
    display:  flex;
    flex-direction:  column;
    justify-content:  center;
    align-items:  center;
    height:  60vh;

}


@media (max-width: 1799px) {
	
* {
		font-size: 17px
	}
}
@media (max-width: 1600px) {
	* {
		font-size: 16px
	}
}
	
@media (max-width: 1279px) {
	
* {
		font-size: 14px
	}
}

@media (max-width: 1025px) {
	
* {
		font-size: 12px
	}
}
@media(max-width: 799px) {
	
* {
		font-size: 10px
	}
	.mainphoto {
		text-align: center;
		display: block;
		margin: 7rem 3rem 13rem;
	}
	.mainphoto img {
		width: 100%;
		margin: 2% auto;
		height: 30rem;
	}
	.photo {
		object-position: center;
		height: 15rem;
	}
	
}

@media (max-width: 599px) {
	
* {
		font-size: 9px
	}
	.container {
		width: 90%;
	}
	.about {
		width: 90%;
	}
	.typewriter {
		width: 90%;
	}
	.social img {
		width: 20px;
		height: 20px;
	}

}
@media(max-width: 480px) {
	
* {
		font-size: 8px;
		letter-spacing: 1px;
	}
	.main2 {
		padding: 50px;
		text-align: center;
	}
	.headerBorder {
		    padding: 2rem 4rem;
	}
	.container {
		width: 100%;
	}
	.about {
		width: 100%;
	}
	.typewriter {
		width: 100%;
	}
	.social img {
		width: 20px;
		height: 20px;
	}
	#toggle .span{
		margin: 2px auto;
	}
	#toggle {
		width: 25px;
	}
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@media(max-width:991px) {
	/*footer*/
	footer{
		height: 100%;
	}
	.header h1 {
	left: 3vw;
    top: 4vh;
	position: absolute;
	margin: 0;
	}
	#toggle .span{
		margin: 2px auto;
		border: 0.5 solid #353432;
	}
	#toggle {
		width: 25px;
	}
	.footer {
    flex-direction: column-reverse;
	}
	.container {
	margin: 5vh 0;
	}
	.container input {
	width: 90%;
	}
	.about {
	margin:5vw 0 0;
	}
	.typewriter {
	margin: 5vh 0 0;
	}
	
	#toggle {
    visibility: visible;
    opacity: 1;
    margin: 0;
    position: absolute;
    top: 4vh;
    right: 3vw;
	}

	nav .ul {
		display: none;
	}
}
@media(min-width:992px) {
	#resize {
		visibility: hidden !important;
	}
}
